DATA_DIR="./data"
IMAGES_DIR="./data/images"
ARTICLES_DIR="./data/articles"

# Comma-separated list of Wikipedia categories to crawl by default.
# Examples: CATEGORIES="Roman_Empire" or CATEGORIES="Roman_Empire,Ancient_Rome"
CATEGORIES="Roman Empire,Byzantine Empire,Western Roman Empire,Government of the Roman Empire,Roman emperors,Roman Empire art,History of the Roman Empire,Wars involving the Roman Empire,Culture of ancient Rome,Economy of ancient Rome,Ancient Roman religion,1st century BC in the Roman Empire,1st century in the Roman Empire,2nd century in the Roman Empire,3rd century in the Roman Empire,4th century in the Roman Empire,5th century in the Roman Empire"
